* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this is for logo and navbar */
.logo-navbar{
  text-align: center;
}
.navbar{
  background-color: black;
}
.top-nav-ul{
  list-style: none;
  text-align: center; 
  background-color: black;
}
.top-nav-li{
  display:inline-block;
  font-size: 23px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}

/* this is for banner */
.banner{
  padding: 10px;
  background: linear-gradient(to top,lightslategray,darkgray);
  height: 230px;
  
  }
  .banner-text{
  text-align:center;
  padding-toP:2em;
  }
  .banner-h1{
  font-size: 35px;
  }
  
  .banner-button{
  border:none;
  text-align: center;
  display:inline-block;
  padding: 9px;
  background-color: darkgray;
  font-size: 18px;
  border-radius: 15px;
  }
  /* this is for grid */
  .container-cards{
    background-color:#dad6d6;
    border:1px solid black;
    overflow: hidden;
    padding:15px;
    text-align: center;
  }
  .cards-h1{
    text-align: center;
  }
  .cards{
  display: grid;
  padding:5px;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(225px,1fr));
  justify-content: center;
  }
  .card{
    border:1px solid black;
    border-radius: 15px;
    padding:5px;
  }
  .responsive {
    width:50%;
    height: auto;
  }

   /* large .container */
   .swiper-container{
    background: #616868;
    padding-top: 20px;

   }
    .swiper-container-box{
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    overflow: hidden;
    padding-top: 20px;
    }
    
    .swiper-h1{
    text-align: center;
    color: white;
    padding-bottom: 15px;
    }
    
    .swiper-slide {
    width: 330px;
    height: 500px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    }
    
    .swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 10px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    }
    
    .swiper-slide--one span {
    background: #62667f;
    }
    
    .swiper-slide--two span {
    background: #999ea1;
    }
    
    .swiper-slide--three span {
    background: #b45205;
    }
    
    .swiper-slide--four span {
    background: #505152;
    }
    
    .swiper-slide--five span {
    background: #176bbe;
    }
    
    .swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
    }
    
    .swiper-slide--one{
    background-image:url("");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    }
    
    .swiper-slide--two{
    background-image:url("image/bmw.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    }
    
    .dots{
      text-align: center;
    }
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      padding: 10px;;
    }

      /* feedback */
  .feedback-h1{
        text-align: center;
        padding:5px;
      }    
      /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=number], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=password], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #414443;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #626962;
}

/* Add a background color and some padding around the form */
.feedback-form {
  border-radius: 5px;
  background-color: #dad6d6;
  padding: 20px;
}
/* footer */
footer{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

footer .footer-leftside,
footer .footer-middle,
footer .footer-rightside{
	display: inline-block;
}

/* Footer left */

footer .footer-leftside{
	width: 40%;
}

/* Footer links */


footer .footer-company-name{
	color:  #222;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

footer .footer-middle{
	width: 35%;
}

footer .footer-middle i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

footer .footer-middle p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

footer .footer-middle p a{
	color:  rgb(227, 195, 233);
}

/* Footer Right */

footer .footer-rightside{
	width: 20%;
}

footer .footer-company-about{
	color:  #d5dbe0;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

footer .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

footer .footer-icons{
	margin-top: 25px;
}

footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 33px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer{
		font: bold 14px sans-serif;
	}

	footer .footer-leftside,
	footer .footer-middle,
	footer .footer-rightside{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	footer .footer-middle i{
		margin-left: 0;
	}

}

/* login and register page */
/* Section styling */
#form-login_register {
  background-color: #ffffff; /* White for contrast */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

/* Title styling */
#formTitle {
  text-align: center;
  color: #00796b; /* Dark teal for title */
  margin-bottom: 20px;
}

/* Input styles */
#authForm input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #b2dfdb; /* Light teal border */
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button styles */
#form-login_register .container button {
  background-color: #00796b; /* Dark teal for button */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.button-login:hover {
  background-color: #004d40; /* Darker shade for hover effect */
}

/* car available */
.car-container-cards{
  background-color:#dad6d6;
  border:1px solid black;
  overflow: hidden;
  padding:15px;
  text-align: center;
}
.car-cards-h1{
  text-align: center;
}
.car-cards{
display: grid;
padding:5px;
gap: 3rem;
grid-template-columns: repeat(auto-fit, minmax(225px,1fr));
justify-content: center;
}
.car-card{
  border:1px solid black;
  border-radius: 15px;
  padding:5px;
}
.car-responsive {
  width:50%;
  height: 50%;
}
#car-button{
  margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

/* display_report.csss */

.container_report {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center; /* Center-align text and elements within this container */
}
.h1_report {
  text-align: center;
}
.upload-info {
  text-align: center;
  margin: 10px 0;
  color: #555;
  margin: 10px 0;
}
.container_report input[type="file"] {
  display: inline-block; /* Allow it to be centered with the button */
  margin: 10px 0; /* Add some space around the input */
  margin-left: 70px;
}
.submit-button-report {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.submit-button:hover {
  background-color: #0056b3;
}
.report-content {
  white-space: pre-wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.image-card {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.image-label {
  margin-top: 5px;
  font-weight: bold;
}

      

/* this is for media screen*/
@media screen and (max-width: 800px) {
  .top-nav-li{
    display: block;
    font-size: 23px;
  }
}
@media screen and (max-width: 500px) {
  .top-nav-li{
    display: block;
    font-size: 23px;
  }
}